<!-- Hier wordt de header geinclude -->
<%- include('./partials/head') %>

<header>
    <h1>
        Exposense
    </h1>
</header>

<section class="intro-text">
    <p><%= tno.intro %></p>
</section>

<div class="svg-container">
    <div class="svg-content">
            <img class="svg-grey" src="/assets/plaat_mobile.svg" alt="plaatje over uitstoot van schadelijke gassen">
            <img class="svg-color" src="/assets/plaat_mobile_color.svg" alt="plaatje over uitstoot van schadelijke gassen">
        <div class="buttons">
            <% chapters.forEach(function(chapter) { %>
                <a href="/chapter/<%= chapter.id %>" class="plus-button" data-id="<%= chapter.id %>"></a>
            <% }) %>
        </div>
    </div>
</div>

<section class="chapter-display-container">
    <div id="chapter-display" class="chapter-display"></div>
</section>

<!-- Hier wordt de foot geinclude -->
<%- include('./partials/foot') %>
